body{
    font-family: Arial;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    gap: 15px;
    align-items: center;
}
.cart-item img {
    width: 80px;
    height: auto;
}
.cart-details {
      flex-grow: 1;
}
.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}