* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con {
    height: auto;
    margin: 0 15px;
}
.form-box {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: black solid 1px;
    border-radius: 15px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ffce12;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #f8bd19;
}
button:active {
    background-color: #e6b00f;
}
.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.password-container input {
    padding-right: 40px; 
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    color: #555;
}
.error-list {
    margin-top: 10px;
    color: red;
    list-style: disc;
    padding-left: 20px;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #007bff;
}